@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 47% 11%;
  
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
  
    --primary: 239 84% 67%; /* indigo-500 */
    --primary-foreground: 0 0% 98%;
  
    --secondary: 204 94% 94%; /* sky-100 */
    --secondary-foreground: 200 100% 30%; /* sky-800 */
  
    --accent: 174 64% 52%; /* teal-500 */
    --accent-foreground: 174 100% 95%;
  
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
  
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 95%;
  
    --border: 220 13% 91%;
    --input: 210 20% 98%;
    --ring: 239 90% 83%;
  
    --chart-1: 217 91% 60%;
    --chart-2: 330 73% 66%;
    --chart-3: 160 60% 52%;
    --chart-4: 48 96% 53%;
    --chart-5: 262 83% 67%;
  }
  
  .dark {
    --background: 240 5% 10%;
    --foreground: 210 40% 98%;
  
    --card: 240 4% 16%;
    --card-foreground: 210 40% 98%;
  
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 98%;
  
    --secondary: 204 94% 94%;
    --secondary-foreground: 200 100% 30%;
  
    --accent: 174 64% 52%;
    --accent-foreground: 174 100% 95%;
  
    --muted: 220 14% 20%;
    --muted-foreground: 220 9% 65%;
  
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 95%;
  
    --border: 240 5% 26%;
    --input: 240 4% 16%;
    --ring: 239 90% 83%;
  }
  
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
